<footer class="footer" id="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Satriale's Pork Store</h3>
      <p>© {{ currentYear }} All rights reserved</p>
    </div>

    <div class="footer-section">
      <h4>Contacts</h4>
      <p>469 Kearny Avenue, Kearny, New Jersey</p>
      <p>Phone: (666) 228-1337</p>
      <p>Email: <a href="mailto:contact@satriales.com">contact&#64;satriales.com</a></p>
    </div>

    <div class="footer-section developer-links">
      <h4>Developers</h4>

      <div class="dev-block">
        <span>Alexander Milyokhin</span>
        <a href="https://vk.com/limekhin" target="_blank"><img src="assets/icons/vk.svg" alt="VK" width="28" height="28" /></a>
        <a href="https://t.me/limekhin" target="_blank"><img src="assets/icons/telegram.svg" alt="Telegram" width="28" height="28" /></a>
      </div>

      <div class="dev-block">
        <span>Andrey Zhestkov</span>
        <a href="https://vk.com/mappy1" target="_blank"><img src="assets/icons/vk.svg" alt="VK" width="28" height="28" /></a>
        <a href="https://t.me/Maappy2" target="_blank"><img src="assets/icons/telegram.svg" alt="Telegram" width="28" height="28" /></a>
      </div>

      <div class="dev-block">
        <span>Andrey Preobrazhenskiy</span>
        <a href="https://vk.com/andreypreobrazhenskiy" target="_blank"><img src="assets/icons/vk.svg" alt="VK" width="28" height="28" /></a>
        <a href="https://t.me/andrey_mrakobes" target="_blank"><img src="assets/icons/telegram.svg" alt="Telegram" width="28" height="28" /></a>
      </div>
    </div>
  </div>
</footer>
