<div class="product-modal-content">
    <h1>{{ product.name }}</h1>
    <div class="about">
        <div class="product-image">
            <img [src]="product.imageUrl" alt="{{ product.name }}">
        </div>
        <div class="product-info">
            <h2>Is stock: {{ product.isStock ? 'Yes' : 'No'}}</h2>
            <div *ngIf="isMeat(product)">
                <ul>
                    <li><strong>Nutrition Value</strong>(Calories/Protein/Fat/Carbohydrates): {{ product.nutritionValue.join('/') }}</li>
                    <li><strong>Meat Sort</strong>: {{product.meatSort}} </li>
                    <li><strong>Cut Type</strong>: {{product.cutType}}</li>
                    <li><strong>On the Bone</strong>: {{product.onBone ? 'Yes' : 'No'}}</li>
                    <li><strong>Freeze grade</strong>: {{ product.grade}} </li>
                </ul>
            </div>
            <div *ngIf="isMeal(product)">
                <h2>Composition: </h2>
                <p>{{ product.composition }}</p>
                <h2>Specifications </h2>
                <ul>
                    <li><strong>Nutrition Value</strong>(Calories/Protein/Fat/Carbohydrates): {{ product.nutritionValue.join('/') }}</li>
                    <li><strong>Weight</strong>: {{ product.weight }}g</li>
                    <li><strong>Allergens</strong>: {{ product.allergens }}</li>
                </ul>
            </div>
            <div *ngIf="isDrink(product)">
                <div class="info-block">
                    <h2>Composition </h2>
                    <p>{{ product.composition }}</p>
                </div>
                <div class="info-block">
                    <h2>Specifications </h2>
                    <ul>
                        <li><strong>Nutrition Value</strong>(Calories/Protein/Fat/Carbohydrates): {{ product.nutritionValue.join('/') }}</li>
                        <li><strong>Volume</strong>: {{ product.volume }}ml</li>
                        <li><strong>Type</strong>: {{ product.type }}</li>
                        <li *ngIf="product.alcoholPercentage"><strong>Alcohol</strong>: {{ product.alcoholPercentage }}</li>
                        <li><strong>Carbonated</strong>: {{ product.isCarbonated ? 'Yes' : 'No' }}</li>
                    </ul>
                </div>
            </div>
            <p *ngIf="isMeat(product)" class="price">{{product.price | currency}} / kg</p>
            <p *ngIf="isMeal(product)" class="price">{{product.price | currency}} / piece</p>
            <p *ngIf="isDrink(product)" class="price">{{product.price | currency}} / bottle</p>
        </div>
    </div>
    <h2 class="order">To order, call: (666) 228-1337</h2>
</div>