<div class="product-modal-content">
    <button class="close-button" (click)="close()">×</button>
    <h1>{{ product.name }}</h1>
    <div class="about">
        <div class="product-image">
            <img [src]="product.imageUrl" alt="{{ product.name }}">
        </div>
        <div class="product-info">
            <h2><b>Is stock:</b> {{ product.isStock ? 'Yes' : 'No'}}</h2>
            <div *ngIf="isMeat(product)">
                <ul>
                    <li><strong><b>Nutrition Value</b></strong>(Calories/Protein/Fat/Carbohydrates): {{ product.nutritionValue.join('/') }}</li>
                    <li><strong><b>Meat Sort</b></strong>: {{product.meatSort}} </li>
                    <li><strong><b>Cut Type</b></strong>: {{product.cutType}}</li>
                    <li><strong><b>On the Bone</b></strong>: {{product.onBone ? 'Yes' : 'No'}}</li>
                    <li><strong><b>Freeze grade</b></strong>: {{ product.grade}} </li>
                </ul>
            </div>
            <div *ngIf="isMeal(product)">
                <h2><b>Composition: </b></h2>
                <p>{{ product.composition }}</p>
                <h2><b>Specifications</b> </h2>
                <ul>
                    <li><strong><b>Nutrition Value</b></strong>(Calories/Protein/Fat/Carbohydrates): {{ product.nutritionValue.join('/') }}</li>
                    <li><strong><b>Weight</b></strong>: {{ product.weight }}g</li>
                    <li><strong><b>Allergens</b></strong>: {{ product.allergens }}</li>
                </ul>
            </div>
            <div *ngIf="isDrink(product)">
                <div class="info-block">
                    <h2><b>Composition</b> </h2>
                    <p>{{ product.composition }}</p>
                </div>
                <div class="info-block">
                    <h2><b>Specifications</b> </h2>
                    <ul>
                        <li><strong><b>Nutrition Value</b></strong>(Calories/Protein/Fat/Carbohydrates): {{ product.nutritionValue.join('/') }}</li>
                        <li><strong><b>Volume</b></strong>: {{ product.volume }}ml</li>
                        <li><strong><b>Type</b></strong>: {{ product.type }}</li>
                        <li *ngIf="product.alcoholPercentage"><strong>Alcohol</strong>: {{ product.alcoholPercentage }}</li>
                        <li><strong><b>Carbonated</b></strong>: {{ product.isCarbonated ? 'Yes' : 'No' }}</li>
                    </ul>
                </div>
            </div>
            <p *ngIf="isMeat(product)" class="price">{{product.price | currency}} / kg</p>
            <p *ngIf="isMeal(product)" class="price">{{product.price | currency}} / piece</p>
            <p *ngIf="isDrink(product)" class="price">{{product.price | currency}} / bottle</p>
        </div>
    </div>
    <h2 class="order">To order, call: <b>(666) 228-1337</b></h2>
</div>