<a routerLink="/"><img src="../../../assets/images/logotip.png" alt="SATRIALE'S" height="100px" style="margin-left: 20px"></a>
<div class="nav-buttons">
  <button mat-raised-button color="color" (click)="scrollTo('meat')" class="pig-wrapper">
    <span class="pig-text">MEAT</span>
    <img src="./assets/images/pigbutton.svg" class="pig-button">
  </button>
  <button mat-raised-button color="color" (click)="scrollTo('meals')" class="pig-wrapper">
    <span class="pig-text">MEALS</span>
    <img src="./assets/images/pigbutton.svg" class="pig-button">
  </button>
  <button mat-raised-button color="color" (click)="scrollTo('drinks')" class="pig-wrapper">
    <span class="pig-text">DRINKS</span>
    <img src="./assets/images/pigbutton.svg" class="pig-button">
  </button>
</div>

<div class="nav-buttons">
  <button mat-raised-button color="color" class="pig-wrapper">
    <span class="pig-text">MERCH</span>
    <img src="./assets/images/pigbutton.svg" class="pig-button">
  </button>
  <button mat-raised-button color="color" class="pig-wrapper">
    <span class="pig-text">ABOUT</span>
    <img src="./assets/images/pigbutton.svg" class="pig-button">
  </button>
</div>