.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.mat-color {
    background-color: #e9a0a18e;
    height: 65px;
}

.pig-wrapper {
    width: 130px;
    position: relative;
    padding: 0;
    border: none;
}

.pig-wrapper:active {
    background-color: #966d6efa;
}

.pig-button {
    width: 100px;
}

.pig-text {
    position: absolute;
    top: 44%;
    left: 46%;
    transform: translate(-50%, -50%);

    font-size: small;
    color: white;
    font-weight: bold;
    pointer-events: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: inline-flex;
    justify-content: center;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

button:focus {
    outline: none;
}