<a routerLink="/"><img src="../../../assets/images/logotip.png" alt="SATRIALE'S" height="100px" style="margin-left: 20px"></a>
<div class="nav-buttons">
  <button (click)="scrollTo('meat')">
    <img src="./assets/images/pigbutton.svg" alt="meat">
  </button>
  <button (click)="scrollTo('meals')">
    <img src="./assets/images/pigbutton.svg" alt="meal">
  </button>
  <button (click)="scrollTo('drinks')">
    <img src="./assets/images/pigbutton.svg" alt="drink">
  </button>
</div>

<div class="nav-buttons">
  <button>
    <img src="./assets/images/pigbutton.svg" alt="Свинья">
  </button>
  <button>
    <img src="./assets/images/pigbutton.svg" alt="Свинья">
  </button>
</div>